
@font-face {
    font-family: myfont;
    src: url(../Fonts/Merriweather.ttf);
}
@font-face {
    font-family: intel;
    src: url(../Fonts/intel.ttf);
}

/* header section */
.header-bg{
    background: rgba(0, 0, 0, .6) url(../images/Banner\ Image.png);
    background-blend-mode: darken;
    background-size: cover;
    height: 600px;
    width: 90%;
    background-repeat: no-repeat;
    margin: 30px auto;
    border-radius: 10px;
    
}
.header-container{
    text-align: center;
    color: aliceblue;
    padding: 200px 100px 0px 0px;

}
.header-title{
    font-size: 20px;
    font-family: myfont;
    font-weight: 300;
    padding-top: 20px;
}
.header-content{
    text-align: center;
    color: aliceblue;
    font-family: myfont;
    font-weight: 900;
    line-height: 60px;
    font-size: 50px;
}
/* main section */

.categories{
    margin-top: 50px;
    text-align: center;
}
.categories-title{
    font-size: 50px;
    font-family: myfont;
    color: #FF0000;
    margin-bottom: 20px;
}
.categorise-content{
    font-size: 16px;
    color: #FF0000;
    font-family: intel;
    padding-top: 0px;
    margin-top: 0px;
}
.all-categories{
    font-size: 25px;
}
.categories-image{
    width: 800px;
    height: 500px;
}
.main-container{
    background: rgba(0, 0, 0, .6) url(../images/Vectorrr.png);
    background-blend-mode: darken;
    background-size: cover;
    height: 600px;
    width: 90%;
    background-repeat: no-repeat;
    margin: 80px auto;
    border-radius: 10px;
    
}
.main-container-box{
    width: 50%;
    padding: 100px 30px;
}

.main-container-title{
    text-align: center;
    color: aliceblue;
    font-family: myfont;
    font-weight: 900;
    line-height: 60px;
    font-size: 50px;
}
.main-container-content{
    font-size: 16px;
    font-family: intel;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin-top: 0px;
}
.main-container-btn{
    margin: 20px 0px 0px 160px;
    color: aliceblue;
    text-transform: uppercase;
    
}
span a{
    text-decoration: none;
}
.vector{
    display: flex;
    width: 50%;
    text-align: right;
    

}
.group-70{
    position: relative;
    margin-left: 960px;
    margin-top: -400px;
}
.place-bg{
    width: 90%;
    margin: auto;
    height: 400px;
    background: linear-gradient(180deg, rgba(254, 0, 0, 0.416) 0%, rgba(255, 0, 0, 0.00) 100%);

}
.place-item{
    padding-top: 150px;
}
.place{
    text-align: center;
    font-size: 25px;
    margin: 5px 0px;
    
}
.place-title{
    color: #FF0000;
}
.place-btn{
    border-radius: 5px;
    background-color: #FF0000;
    border: 0px;
    padding: 5px;
    margin-left: 48%;
    margin-top: 20px;
}
    .new-header{
        width: 90%;
        display: flex;
        margin: auto;
        padding-top: 80px;
    }
    .new-item{
        width: 33.3%;
        text-align: left;
        padding-left: 20px;
    }
    .new-item-title-1{
        font-size: 16px;
        font-weight: 500;
        font-family: intel;
        padding-top: 90px;
    }
    .new-item h2{
        font-size: 48px;
        font-weight: 900;
        font-family: myfont;
        margin: 0px;
    }
    .new-item p{
        font-size: 16px;
        font-family: intel;
        font-weight: 400;
    }
    .new-item-image{
        height: 380px;
        width: 400px;
        border-radius: 50%;
        border: 15px solid #FF0000;
        text-align: center;
        padding-top: 20px;
    }
    .new-item-image image{
        padding-top: 10px;

    }
.new-item-title{
    font-size: 35px;
    font-weight: 700;
    font-family: intel;
    color: #FF0000;
    padding-top: 50px;
}
.holidays-title{
    text-align: center;
    margin-top: 100px;
}
.holidays-title h4{
    color: black;
    font-size: 16px;
    font-family: intel;
    font-weight: 500;
    margin-bottom: 0;
}
.holidays-title h2{
    color: #F00;
    text-align: center;
    font-family: myfont;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 15px;
}
.holidays-title p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.holidays-content{
    display:flex;
    width: 90% auto;
    margin-top: 100px;
}
.holidays-img{
    width: 50%;
    z-index: 1;
}
.holidays-img-1{
    width: 50%;
}
.img-1{
    margin-left: 232px;
    z-index:-1;
}
.img-3{
    z-index: 1;
    background-image: url('../images/Group\ 44.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 380px;
    top: 3550px;
}
.holidays-images{
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    height: 200px;
    width: 1500px;
    z-index:;
    background-position: center bottom;
    position: absolute;
    top: 3880px;
    bottom: 0;
}
.best-gifts{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.best-gifts h4{ 
    color: #F00;
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.best-gifts h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0px 0px;
}
.best-gifts p{
    color: rgba(7, 2, 17, 0.60);
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.best-gifts-content{
    display: flex;
    width: 92%;
    margin: auto;
}
.gifts-item{
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.subscribe{
    text-align: center;
    width: 90%;
    height: 525px;
    margin: auto;
    margin-top: 100px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe img{
    margin-top: 80px;
}
.subscribe h3{
    color: #070211;
    text-align: center;
    font-family: myfont;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    margin: 10px 0px;
    text-transform: capitalize;
}
.subscribe p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.user-email{
    width: 300px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    padding-left: 30px;
    border: 0px;
}
.subscribe-btn{
    width: 100px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: -105px;
    border: 0px;
}
.address{
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background: #070211;
    margin-top: 80px;
    display: flex;

}
.address-item{
    margin: 120px 0px 0px 100px;

}
.address-item p{
    color: #FFF;
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    text-align: center;
    padding-left: 30px;
    margin-bottom: 215px;
}
.social{
    margin: 200px 0px 0px 20px; 
    padding-left: 120px;
    
}
.social img{
    text-align: center;
    padding-left: 20px;

}
.number{
    margin: 120px;
}
.number p{
    color: #FFF;
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px; /* 166.667% */
    text-align: center;
}
.unsubscribe{
    color: #FFF;
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 200px;
      
}
.gap{
    margin-bottom: 260px;
}   
.call-image{
    margin-top: 120px;
    padding-bottom: -5px;
}
.all-right{
    color: #FFF;
    font-family: intel;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}